<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DocTrack</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <section id="showcase">
            <div class="container">
              <h1>Welcome to DocTrack</h1>
              <h2>
                  View users in real time.
              </h2>
              </div>
              <p class="conx">Have an account?</p>
            <a href="/login"><button class="button"><span>Log In</span></button></a>
            
            <p class="conx">New User?</p>
            <a href="/signup"><button class="button"><span>Sign Up</span></button></a>
          </section>
    </body>

</html>
