<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DocTrack</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <section id="showcase">
            <div class="container">
              <h3>Log In</h3>
              <form action="/post-submit" method=POST>
                <div class="form-group">
                    <input type="email" placeholder="Email Id" class="form-input" name="EmailId" id="EmailId" required/>
                </div>


                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-input" name="Password" id="Password"/>
                </div>
                <input class="button" type="submit" value="Log In">
              </form>
              </div>
            
          </section>
    </body>

</html>
